html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.search
{
    padding-left: 5%;
}
.latest-news
{
    text-align: center;
}
/* .mid
{
    margin-left: -10px;
} */

/* .find-D:hover
{
    background-color: aliceblue;
}      */


.hbtn

{

    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    /* padding-left: 25%; */
    padding-right: 3em;
    /* margin-left: 19%; */
    
}
/* button class */
.find-D
{
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    display: flex;
    background: transparent;
    margin-left: 10px;
    padding-top: 6px;

}
.find-D1
{
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    display: flex;
    background: transparent;
    /* margin-right: 10px; */
    justify-content: center;
    align-items: center;
}
/* .navbar1
{ 
    padding-top: 15px;
    background-color: seashell;
    box-shadow: 0px,2px,15px 2px;
} */

.find-D:hover
{
    background-color:rgb(8, 8, 63);
    color: white;
    border: 1px solid rgb(8, 8, 66);
}
.find-D1:hover
{

    background-color:rgb(8, 8, 53);
    color: white;
    border: 1px solid rgb(6, 6, 63);
}
/* navbar content  */
.content
{

     display: flex;
     justify-content: center;
    margin-top: 10px;
    padding-left: 15%;

} 
.content p
{
    color:black;
    padding-right: 35px;

}




   
.content i
{
    color: blue;
    font-size: 25px;
    padding-right: 10px;
}
.content h4
{
    color: blue;
}
.vertical h4
{
    font-size: 150%;
    color: blue;
}
.vertical
{
    position: relative;
    bottom: 52%;
    left: 18px;
}
 .vertical::before
{
   content: "";
   background-color: black;
   display: block;
   position: relative;
   right: 15%;
   width: 2px;
   height: 120px;
   top: 132px;
} 

/* logo  webname  */
.page
{
    display: inherit;
}
.page h1{
    color: blue;
 position: relative;
 left: 25px;
  top: 15px;  
 font-size: 40px;  
}
.page i
{
 
    position: relative;
    top: 22px;
    left: 23px;
    font-size: 40px;
}
.icon
{
    font-size: 20px;
}
.nav
{
    background-color: blue;
    
}
.nav a
{
    color: white;
}
.img
{
    background-image: url(/doc5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}
/* text in pic */
.text-in-pic{
    
    text-align: right;
padding-right: 10%;
padding-top: 100px;
}
.heading8
{
    margin-right: 4%;
}

.text-in-pic h1
{
    color: blue;
}
.text-in-pic button
{
background-color: blue;
color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    
    background: transparent;
    margin-right: 10%;
    
}
.text-in-pic button:hover
{
    background-color: rgb(19, 19, 68);
    color: white;
}
.nav i
{
    display: flex;
}
.symbol
{
    
    background-color: blue;
}

.social
{
    display: flex;
    justify-content: end;
}

.symbol img {
            border-radius: 50%;
    width: 30px;
    height: 30px;
    
}
.section2
{
    padding-top: 30px;
    text-align:center ;
}
/* .para8
{
    padding-left: 70px;

} */

 .gbtn
{
    display: flex;
    flex-direction: column;
    height: 200px;
  
 }


 .gbtnb
 {
     width: 80%
     }
     .gbtnb:hover
     {
         background-color: blue;
     }


 


.list-group-item button 
{
    background-color: rgb(9, 9, 63);
    color: white;
    margin: 5px;
    width: 230px;
}

button i
{
   text-align: end;
}
button
{
    text-align: start;
}
/* .move5
{
    text-align: start;
    padding-left: 10%;
}   */


.section4
{
    background-image: url(./med.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2%;
    height: 55%;
 
}
.Bbtn
{
    width: 230px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    background: transparent;
    color: white;
    border: 1px solid white;
}
.Bbtn:hover
{
    background-color: rgb(6, 6, 41);
}
.para6
{
    color: white;
    font-weight: bolder;
    width: 75%;
    text-align:center ;
    position: relative;
    left: 135px;
    padding-top: 70px;

}
.Mtools
{
    width: 170px;
    height: 115px;
}


.para7
{
    display: contents;
    
}


.section6
{
    display: flex;
    justify-content: center;
    text-align:center ;
}
.care
{
    
    width: 380px;
    height: 200px; 

}
/* .para9
{
    padding-left: 20%;
} */
.input
{
    
    background-color: bisque;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.input h2
{
    color: rgb(11, 11, 97);
}
.input button
{
    background-color: blue;
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    /* display: flex; */
    background: transparent;
    /* margin-left: 10px;
    padding-top: 6px; */
}
.input button:hover

{
    background-color: rgb(34, 56, 12);
    color: white;
}
.edit2 
{
     display: flex;
justify-content: center;
padding-top: 15px;
margin-bottom: 2%;


}
.edit2 i
{
    padding-right: 15px;
    font-size: 25px;
    padding-top: 8px;

}
.fixed i
{
    padding-left: 7%;
}
.move6
{
    padding-right: 7%;
}
.adjust
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.ICON
{
    color: blue;
    display: contents;
font-size: 40px;
}
.pic7

{
    font-size: 40px;
}
/* .edit2
{
    margin-top: 10px;
} */
.nav-2
{
   justify-content: center;
}
.red
{
    color: red;
}
.form-control
{
    width: 95%;
    margin-left: 9px;
    margin-bottom: 5px;   
}
.para5
{
    text-align: center;
    padding-top: 14px;
    font: revert
}
/* .para8
{

    padding-left: 40px;
} */
.modify
{
    padding-left: 5%;
} 


/* <-------media qurries----------------->  */

@media screen  and ( max-width:320px){
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    
    .move5
{
    padding: 20px;
}
.navbar1
{
    margin-top: 10px;
}

    .nav-1
{
    justify-content: end;
}
.nav-2
{
    justify-content: center;
}
    .mid
    {
        padding-left: 20px;
        padding-bottom: 12px;
        padding-right: 20px;
    }
  
.para10
{
    width: 95%;
}
    .form-control
{
    width: 95%;
    margin-left: 9px;
    margin-bottom: 5px;   
}

.latest-news
{
    text-align: center;
}
    .care
    {
        display: contents;
        
        width: 285px;
        height: 220px; 
    }
    .img
{
    background-image: url(/doc5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}
    .para5
    {
        
        text-align: center;
        
    }
    .input button
    {
        margin-bottom: 20px;
    }
    
    .social
{
    display: flex;
    justify-content: center;
    padding-left: 15px;
}
    .gbtn
    {
        padding-left: 30px;
    }
   
    .text-in-pic
    {
        color: black;
        text-align: center;
    }
   

    .card-body
     {
        text-align: center;
        
    }
    .gbtnb
    {
        width: 50%;
        justify-content: center; 
    }
        

  
    .find-D{
    margin-right: 20px;
    width: 180px;}
    

    .hbtn{

        display: flex;
        justify-content: flex-end;
        padding-bottom: 5px;
        padding-left: 23px;
        padding-right: 12px;
        }
        .Mtools {
            padding-left: 6px;
            width: 315px;
            height: 115px;
        }
.care
{
    
   
    width: 260px;
    height: 220px;
    position: relative;
    right: 10px;

}
.para6 {
    color: white;
    width: 75%;
    text-align: center;
    position: relative;
    left: 48px;
    padding-top: 70px;
}

footer
{
    text-align: center;
}
.content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-left: 5%;
}
.vertical {
    position: relative;
    bottom: 46%;
    left: 3px;
}
.modify {
    text-align: -webkit-center;
    padding-left: 0px;
}
.para9 {
    text-align: center;
}
.content p {
    color: white;
    padding-right: 35px;
    font-weight: 900;
}

} 
/* <-------media qurries one----------------->  */
  @media (min-width:321px) and (max-width:480px) {
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .navbar1
{
    margin-top: 10px;
}
    .vertical {
        position: relative;
        bottom: 46%;
        left: 3px;
        /* right: 20px; */
    }
    .para9
    {
        text-align: center;
    }
    .nav-2
{
    justify-content: center;
}
    
    .mid
    {
        padding-left: 20px;
        padding-bottom: 12px;
        padding-right: 20px;
    }
    .form-control
{
    width: 95%;
    margin-left: 9px;
    margin-bottom: 5px;   
}

.latest-news
{
    text-align: center;
}
    .care
    {
        display: contents;
        
        width: 285px;
        height: 220px; 
    }
    .img
{
    background-image: url(/doc5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}
    .para5
    {
        
        text-align: center;
        
    }
    .input button
    {
        margin-bottom: 20px;
    }
    
    .social
{
    display: flex;
    justify-content: center;
    padding-left: 4px;
}
.para10
{
    margin: 1rem;
    text-align: center;
    max-width: 90%;
}
    .gbtn

    {
        align-items: center;
    }
   
    .text-in-pic
    {
        color: black;
        text-align: center;
    }
    .text-in-pic h2 {
        color: blue;
        line-height: 100%;
        font-size: 210%;
    }
    .content {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        padding-left: 11%;
    }
    /*
    .content p
{
    color:black;
    padding-right: 35px;

}
    .vertical
    {
        padding-left: 33%;
    
    } */
.move5
{
    padding: 20px;
}
    .card-body
     {
        text-align: center;
        
    }
    .gbtnb
    {
        width: 50% 
    }
    
        

  
    

    .hbtn{

        display: flex;
        justify-content: flex-end;
        padding-bottom: 5px;
        justify-content: end;
        padding-left: 11%;
        padding-right: 0px;
        }
        .Mtools {
            padding-right: 30px;
            float: right;
            height: 115px;
            width: 92%;
        }
.care
{
    
   
    width: 260px;
    height: 220px;
    position: relative;
    right: 10px;

}
.para6 {
    color: white;
    width: 75%;
    text-align: center;
    position: relative;
    left: 48px;
    padding-top: 70px;
}
.modify
{
    text-align: -webkit-center;
    padding-left: 0px;
}
footer
{
    text-align: center;
}
.content p {
    color: white;
    padding-right: 35px;
    font-weight: 900;
}


}
/* <-------media qurries two----------------->  */

@media (min-width:540px) and (max-width:767px){
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
     }
     .navbar1
{
    margin-top: 10px;
}
     .gbtn

    {
        align-items: center;
    }
    .card-body
    {
        text-align: center;
    }
    .move5
{
    padding: 20px;
}
    .nav-1
{
    justify-content: end;
}
.nav-2
{
    justify-content: center;
}
.content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-left: 0%;
}
    .mid
    {
        padding-left: 20px;
        padding-bottom: 12px;
        padding-right: 20px;
    }
    .hbtn {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 5px;
        padding-right: 16em;
       
    }
    .modify
{
    text-align: -webkit-center;
    padding-left: 0px;

}
.Mtools {
    padding-right: 103px;
    float: right;
    height: 115px;
    width: 81%;
}
.para9
    {
        text-align: center;
    }
    .care {
        width: 353px;
        height: 105px;
        height: 184px;
    }
    .bottom-pic
    {
        padding-bottom: 10px;
    }
    .page {
        
        padding-bottom: 35px;
    }
    .img {
        background-image: url(/doc5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 150vh;
        background-position: center;
    }
    .footer
    {
        text-align: center;
    }
    .input button {
        background-color: blue;
        margin-bottom: 10px;
    }
    .content p {
        color: white;
        padding-right: 35px;
        font-weight: 900;
    }
}
/* <-------media qurries four----------------->  */

   @media (min-width:768px) and (max-width:1023px){
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .navbar1
{
    margin-top: 10px;
}
    .content p {
        color: white;
        padding-right: 35px;
        font-weight: 900;
    }
    .move5
{
    padding: 20px;
}

.vertical {
   position: relative;
    bottom: 48%;
    left: 18px;
}
    .separate
    {
        padding-bottom: 15px;
    }
    .nav-1
{
    
 justify-content: end;
    
}
.nav-2
{
    justify-content: center;
}

.latest-news
{
    text-align: center;
}
.Mtools {
    padding-right: 212px;
    float: right;
    height: 115px;
    width: 73%;

}
.list-group-item button {
    background-color: rgb(9, 9, 63);
    color: white;
    margin: 5px;
    width: 195px;
}

.img {
    background-image: url(/doc5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    background-position: center;
}
    .hbtn

    {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 5px;
        padding-right: 11%;
         
    }
     .content
    {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-left: 3%;
      
      
    }
    
    .para5
{
    padding-left: 15px;
    padding-top: 14px;
    font: revert
}

    .modify
    { 

   text-align: -webkit-center;
    padding-left: 0px;

    }    

    .input button
    {
        position: relative;
        bottom: 12px;
    }
    /* .list-group-item button 
{
    background-color: rgb(9, 9, 63);
    color: white;
    margin: 5px;
    width: 180px;
} */
.text-in-pic
{
    color:black;
    padding-left: 10px;
}

.care
{
    width: 221px;
    display: block;
    height: 283px
}
.section5
{
    text-align: center;
}
footer
{
    text-align: center;
}
.mid
{
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
}

} 
/* <-------media qurries five----------------->  */


  @media   (min-width:1024px)  and (max-width:1300px) {

    html,body
    {
        width: auto;
        height: auto;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .navbar1
{
    margin-top: 10px;
}
    .content
    {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-left: 3%;
      
      
    }
    .vertical {
        position: relative;
        bottom: 48%;
        left: 18px;
    }
    .move5
{
    padding: 20px;
}
    .nav-1
{
    justify-content: end;
}
.nav-2
{
    justify-content: center;
}
    .Mtools {
        width: 150%;
        height: 115px;
      
    }

.latest-news
{
    text-align: center;
}

      
    
    .gbtn
    {
        padding-left: 9px;
    }
    .input button
    {
        position: relative;
        bottom: 10px;
    }
    .para12
    {
        width: 95%;
    }
    .care
{
    
    width: 300%;
    height: 220px;  
}
    .input
{
    
    background-color: bisque;
    width: 20%;
    position: relative;
    right:10px;
} 
.para10
{
    height: 50%;
}
.hbtn {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    padding-right: 25%;
    
}  
    .bottom-pic
    {
        padding-bottom: 10px;
    }
    .img {
        background-image: url(/doc5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 150vh;
        background-position: center;
    }
    .list-group-item button {
        background-color: rgb(9, 9, 63);
        color: white;
        margin: 5px;
        width: 190px;
    }
    footer
{
    text-align: center;
}
.content p {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-left: 15%;
    color: white;
}

.mid
{
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
}
.separate
{
        padding-right: 25px;
        padding-bottom: 10px;
}
.modify
    {
        padding-left: 6px;
    }
} 

/* <-------------------sixth media----------------> */
@media  (min-width:280px) and (max-width:319px) { 
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .navbar1
{
    margin-top: 10px;
}
    /* .para9
{
    padding-left: 10%;
} */
    .move5
{
    padding: 20px;
}
   

.fixed i {
    padding-left: 5%;
}

.vertical {
    position: relative;
    left: -145px;
    top: 55%;

}
.content p {
    color: white;
    padding-right: 35px;
    font-weight: 700;
}
.vertical::before {
    content: "";
    background-color: black;
    display: block;
    position: relative;
    right: 15%;
    width: 4px;
    height: 120px;
    top: 132px;
    display: none;
}


    .mid
{
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
}
    .hbtn {
        display: flex;
    padding-bottom: 5px;
    padding-left: 22px;
    padding-right: 1%;

        
    }
      
    .content {
        justify-content: center;
        padding-top: 20px;
        padding-right: 14%;
           padding-left: 30px;
    }
    .text-in-pic {
        text-align: right;
        padding-right: 45px;
        padding-top: 100px;
    }
   
    .modify
    {
        text-align: -webkit-center;
    }
    .para6 {
        color: white;
        width: 75%;
        text-align: center;
        position: relative;
        left: 34px;
        padding-top: 70px;
    }
   
    .care {
        width: 380px;
        height: 200px;
        display: contents;
    }
   
    
    .footer
    {
        text-align: center;
    }
   .img {
        background-image: url(/doc5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 150vh;
        background-position: center;
    }

.gbtn
{
   
    align-items: center;
}
.nav-1
{
    justify-content: end;
    margin-top: 30px;
}
.nav-2
{
    justify-content: center;
}
.move7
{
    padding-left: 180px;
    margin-bottom: 150px;
}
.Mtools {
    padding-left: 26px;
    width: 265px;
    height: 115px;
}


} 
/* @media  (min-width:370px) and (max-width:560px)
{
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .move5
{
    padding: 20px;
}
    .section5
{
padding-left:11%;
}
.fixed i {
    padding-left: 3%;
}
    .mid
{
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 20px;
}
    .hbtn {
        display: flex;
        padding-bottom: 5px;
        padding-left: 25px;
        justify-content: end;
        padding-right: 0px;
        margin-left: 16%;
    
    }
  
    .text-in-pic {
        text-align: right;
        padding-right: 80px;
        padding-top: 100px;
    }
 
    .modify  
    {
        text-align: -webkit-center;
      
    }
    .para6 {
        color: white;
        width: 75%;
        text-align: center;
        position: relative;
        left: 76px;
        padding-top: 70px;
    }
    .card-body
    {
        text-align: center;
    }
    .Mtools {
        padding-right: 15%;
        width: 103%;
        height: 115px;
        padding-left: 0px
    }
    .care {
        width: 380px;
        height: 200px;
        display: contents;
    }
    .para8 {
        padding-left: 12px;
    padding-bottom: 14px;
    width: 96%;
    }
    
    .footer
    {
        text-align: center;
    }
   .img {
        background-image: url(/doc5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 150vh;
        background-position: center;
    }

.gbtn
{
   
    align-items: center;
}
.nav-1
{
    justify-content: end;
}
.nav-2
{
    justify-content: center;
}
} */